---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts.js';
import {getArticles} from '../../../lib/api.js';
import Layout from '../../../layouts/Layoutq.astro';
import Card from '../../../layouts/CardsPodcast.astro';


export async function getStaticPaths( { paginate } ) {
    
  const arrpodcast = [
        {nodo: 6806,title: 'Al otro lado de la Radio', link: 'al-otro-lado-de-la-radio', imagen: 'https://oyedigital.mx/wp-content/uploads/2024/01/DETRASdelaRADIO11-min.jpg', descripcion: 'Un podcast donde podrás escuchar a tus artistas favoritos y conocer más sobre ellos.'},
        {nodo: 6581,title: 'Pop Trends', link: 'pop-trends', imagen: 'https://oyedigital.mx/wp-content/uploads/2023/11/POP-TRENDS-portada.jpg', descripcion: 'La música más top, nueva y relevante que escuchas, tu votas por tener tu canción en los 10 primero lugares.'},
        {nodo: 6734,title: 'Respira', link: 'respira', imagen: 'https://oyedigital.mx/wp-content/uploads/2023/12/poscast-repira2.jpg', descripcion: 'Descubrir que tienes un problema de salud mental es una noticia impactante que puede transformar tu vida por completo.'},
        {nodo: 3801,title: 'Top Gaming', link: 'top-gaming', imagen: 'https://oyedigital.mx/wp-content/uploads/2023/04/TOP-GAMING.jpg', descripcion: 'Un clavado al mundo de los gamers en el cual conocerás todo sobre los lanzamientos, mejores juegos del momento y los que vienen.'},
        {nodo: 3813,title: 'Top Tech', link: 'top-tech', imagen: 'https://oyedigital.mx/wp-content/uploads/2023/04/TOP-TECH.jpg', descripcion: 'Top Tech con Diego Gil y Geekzilla. un podcast en el que conoceremos todo sobre la tecnología que nos está rodeando.'},
        {nodo: 3788,title: 'Tu Fandom', link: 'tu-fandom', imagen: 'https://oyedigital.mx/wp-content/uploads/2023/04/podcast-FANDOM-PORTADA-PAG.jpg', descripcion: 'Pone el reflector sobre los fandoms más activos de las redes sociales, bajo la premisa de “USTEDES HACEN LA PLAYLIST”, a través del #OyeTuFandom seleccionamos los Idols más votados.'},
        {nodo: 3449,title: 'El Debraye', link: 'el-debraye', imagen:'https://oyedigital.mx/wp-content/uploads/2023/03/podcast-debraye.jpg', descripcion:''},        
  ];

  
  const res = await fetch("https://oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=200&_fields[]=title&_fields[]=slug&_fields[]=yoast_head_json&_fields[]=categories&_fields[]=acf&categories=3449,3788,3813,3801,6734,6581,6806" ); 
  const posts = await res.json();
  //console.log(posts);
  
  return arrpodcast.flatMap( function(pod) {      
      const podcast = pod.link; 
      //console.log(pod.nodo);           
      const filteredPosts = posts.filter((post) => post.categories[0] == pod.nodo);                      
      //console.log(filteredPosts);
      return paginate(filteredPosts,{
        params:{ podcast },
        pageSize: 10
      });
  });  
}

interface Props{
  page: any; 
  podcast: any; 
}

const { page = [] } = Astro.props;
const { podcast } = Astro.props;

---
<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} seccion="Podcast" description={SITE_DESCRIPTION} />
    
  </head>
  <body>
    <Header title={SITE_TITLE} />
    
    <main>
            
      <div class="container mx-auto">
        <h1 class="p-4 font-bold [text-shadow:2px_2px_3px_rgb(88_29_135_/_64%)]">Podcast</h1>
        <Layout title="Al otro lado de la Radio">
          <section class="flex flex-wrap -mx-4">
             { 
                page.data.map((post:any) => ( 
                <>
                <Card post={post} />
                </>
                ))
              }
          </section>
          <div class="text-center mt-20">
          {page.url.prev && <a href={page.url.prev}>
            <button class="group relative h-8 w-36 overflow-hidden rounded-lg bg-gray-100 text-base shadow">
              <div class="absolute inset-y-0 right-0 w-3 bg-pink-600 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
              <span class="relative text-black group-hover:text-white">Anterior</span>
            </button></a>}
          {page.url.next && <a href={page.url.next}>
            <button class="group relative h-8 w-36 overflow-hidden rounded-lg bg-gray-100 text-base shadow">
              <div class="absolute inset-0 w-3 bg-pink-600 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
              <span class="relative text-black group-hover:text-white">Siguiente</span>
            </button></a>}
          </div>
        </Layout>
      </div>  
    </main>
    <Footer />
  </body>
</html>