---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Tabs } from 'astro-tabs';

import Layout from '../../layouts/Layoutq.astro';
import DoubleBox from '../../components/DoubleBox.astro';
import BoxBanner from '../../components/BoxBanner.astro';
import LeaderBoard from '../../components/LeaderBoard.astro';
import SuperLeader from '../../components/SuperLeader.astro';


const res = await fetch("http://oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=30&categories=3312");
const posts = await res.json();

posts.sort();

/*posts = posts.sort(function(a, b){
    return a.posts.acf.hora_inicio - b.posts.acf.hora_inicio;
});

posts.sort((a, b) => a.posts.acf.hora_inicio - b.posts.acf.hora_inicio);

const hora = {posts.acf.hora_inicio};
posts.sort((a, b) => a.hora - b.hora);*/
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Programación" description={SITE_DESCRIPTION} />
		 <meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container my-12 mx-auto">
				<h1 class="p-4 font-bold [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Programación</h1>
                <div class="flex flex-col lg:flex-row">
                    <div class="sm:min-w-[calc(100%-400px)] lg:mr-10">
                        <Layout title="Programación">
                            <Tabs class="programacion" class:list={['programacion']}>
                                
                                <Fragment slot="tab-1">Lun</Fragment>
                                <Fragment slot="tab-2">Mar</Fragment>
                                <Fragment slot="tab-3">Mié</Fragment>
                                <Fragment slot="tab-4">Jue</Fragment>
                                <Fragment slot="tab-5">Vie</Fragment>
                                <Fragment slot="tab-6">Sáb</Fragment>
                                <Fragment slot="tab-7">Dom</Fragment>
                                
                                <Fragment slot="panel-1">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.lunes && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>

                                <Fragment slot="panel-2">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.martes && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>

                                <Fragment slot="panel-3">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.miercoles && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>
                                <Fragment slot="panel-4">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.jueves && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>
                                <Fragment slot="panel-5">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.viernes && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>
                                <Fragment slot="panel-6">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.sabado && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>
                                <Fragment slot="panel-7">
                                    <section>
                                        {
                                        posts.map((post:any) => (
                                            post.acf.domingo && <div class="flex items-center min-h-24 p-4">
                                                <div class="w-1/4 md:w-1/6 text-2xl md:text-3xl font-bold text-center text-gray-500">{post.acf.hora_inicio.substring(0, 5)}</div>
                                                <div class="w-1/6 max-[600px]:hidden"><img class="block h-full w-auto aspect-video rounded object-fill" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} /></div>
                                                <div class="w-3/4 md:w-4/6 p-4">
                                                    <p class="font-bold uppercase leading-none m-0 text-xl">{post.title.rendered}</p>
                                                    <p class="leading-none m-0" set:html={post.content.rendered}></p>
                                                </div>
                                            </div>
                                        ))
                                        }
                                    </section>
                                </Fragment>
                            </Tabs>
                        </Layout>
                    </div>
                    <!--div class="bg-gray-300 p-5 rounded-md sm:min-w-[350px] relative text-center md:text-left">
                        <div class="sticky top-0 left-0 right-0">
                            <h3 class="text-xl text-black font-extrabold">PUBLICIDAD</h3>
                            <BoxBanner />
                            </br>
                            <DoubleBox />
                        </div>
                    </div-->
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
