---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts.js';

import {getArticles} from '../../lib/api.js';
import Layout from '../../layouts/Layoutq.astro';
import Card from '../../layouts/Cardsq.astro';


export async function getStaticPaths( { paginate } ) {
  const data = await getArticles();
  return paginate(data, { pageSize: 9 });
}

interface Props{
  page: any;  
}

const {page=[]} = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Quickys" description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <!--div>
                <ul>
                    {page.data.map(post => <li><Article post={post}/></li>)}
                </ul>
            </div-->
      <div class="container mx-auto">
				<h1>QUICKYS</h1>
        <Layout title="Quickys">
          <section class="p-2 grid gap-4 overflow-hidden grid-cols-1 place-items-center md:grid-cols-3">
              {
                page.data.map((post:any) => ( 
                <>
                <Card post={post} />
                </>
                ))
              }
          </section>
          {page.url.prev && <a href={page.url.prev}>Previous page</a>}
          {page.url.next && <a href={page.url.next}>Next page</a>}
    
        </Layout>
      </div>  
		</main>
		<Footer />
	</body>
</html>