---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts.js';

import {getArticles} from '../../lib/api.js';
import Card from '../../layouts/Cardsq.astro';


export async function getStaticPaths( { paginate } ) {
  const data = await getArticles(172);  
  return paginate(data, { pageSize: 9 });
}

interface Props{
  page: any;  
}

const {page=[]} = Astro.props;
//console.log(page.data);
---
<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="K-Pop" description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
      <div class="container my-12 mx-auto px-4 md:px-12">
				<h1 class="py-4 font-bold text-4xl md:text-5xl text-oye tracking-tight">K-Pop</h1>
        <section class="flex flex-wrap -mx-4">
          {
          page.data.map((post:any) => ( 
            <>
            <Card post={post} />
            </>
          ))
          }
        </section>
        <div class="text-center mt-20">
          {page.url.prev && <a href={page.url.prev}>
            <button class="button-49 ant" role="button">Anterior</button>
          </a>}
          {page.url.next && <a href={page.url.next}>
            <button class="button-49 sig" role="button">Siguiente</button>
          </a>}
        </div>
      </div>  
		</main>
		<Footer />
	</body>
</html>