---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';



import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const res = await fetch("http://oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=10&categories=6806");
const posts = await res.json();
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Home" description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
				<header>
					<div class="relative min-h-[500px]" id="infoprog">
						<div class= "container mx-auto flex justify-center items-center" >
							<div class="items-center">
								<label class="p-1 rounded bg-teal-600/[0.6] shadow-xl">AHORA EN VIVO</label>
								<div class="font-bold [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)] w-9/12" id="nombreprog">Oye 89.7FM</div>
							</div>
							<div id="imgprog"><img src="https://storage.googleapis.com/nrm-web/oye/recursos/oye-back.png" /></div>
						</div>
						<div id="big-play" class="absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 border-2 rounded-full border-black cursor-pointer">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
								<path d="M7 4v16l13 -8z" />
						  	</svg>
						</div>
					</div>
				</header>
				{ /*
				posts.map((post:any) => (
					<h2 set:html={post.title.rendered} />
					<p set:html={post.content.rendered} />
					<p set:html={post.acf.ds} />
				))
				*/	}
		</main>
		
		<Footer />
	</body>
		

</html>
