---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Card from '../../layouts/CardsPodcast.astro';


 export function getStaticPaths() {    
    const arrpodcast = [
        {nodo: 9046,title: 'El camino de las estrellas con Jaidy Robles', link: 'el-camino-de-las-estrellas', imagen: 'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_elcamino-min.jpg', descripcion: '¿Te gustaría saber, cómo iniciaron tus artistas  favoritos?  Jaidy Robles te dirá detalle a detalle de tu artista y mucho más. '},
        {nodo: 9047,title: 'Aquí y Ahora platicamos con Sergio Mejía', link: 'aqui-y-ahora', imagen: 'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_aqui-min.jpg', descripcion: 'Lo importante de la vida es vivir en el Aquí y en el Ahora. Expertos llegan con Sergio Mejía para contarnos sobre sus experiencias y todo lo que saben. '},
        {nodo: 9048,title: 'Noticias que parecen broma pero no son con Aura Ramírez', link: 'noticias-que-parecen-broma-pero-no-son', imagen: 'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_noticias-min.jpg', descripcion: 'Ya llegóoooo el que será tu próximo podcast favorito. Soy Aura Ramírez y cada semana te traeré un combo de noticias que parecen falsas pero en realidad NO lo son. Prepara tu café, sírvete un pan y entérate de lo que pasa en el mundo con un toque de jiribilla, claro que sí.'},
        {nodo: 9049,title: 'Lo más viral con Emilio Catalán', link: 'lo-mas-viral', imagen: 'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_viral2-min-min.jpg', descripcion: 'Los trends de la semana y temas virales en redes sociales.'},
        {nodo: 9050,title: 'Tips y recomendaciones con Sharon Azoulay', link: 'tips-y-recomendaciones', imagen: 'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_tips-min.jpg', descripcion: 'Los mejores libros para leer y la belleza en un solo podcast. '},
        {nodo: 9051,title: 'Receta fit con la pelirroja de la radio', link: 'receta-fit', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_recetafit-min.jpg', descripcion:'Las mejores recetas fitness para tu día a día de forma fácil y rápida.'},
        {nodo: 9052,title: 'Alguien lo tiene que hacer con Poncho Yezka', link: 'alguien-lo-tiene-que-hacer', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_alguien-min.jpg', descripcion:''},
        {nodo: 3813,title: 'Top Tech con Diego Gil y Geekzilla', link: 'top-tech', imagen: 'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_top-tech-min.jpg', descripcion: 'Top Tech con Diego Gil y Geekzilla. un podcast en el que conoceremos todo sobre la tecnología que nos está rodeando.'},
        {nodo: 3801,title: 'Top Gaming', link: 'top-gaming', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_top-gaming.jpg', descripcion:'Un clavado al mundo de los gamers en el cual conocerás todo sobre los lanzamientos, mejores juegos del momento y los que vienen.'},
        {nodo: 6581,title: 'Top Ten', link: 'top-ten', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_TOP10-min.jpg', descripcion:'La música más top, nueva y relevante que escuchas, tu votas por tener tu canción en los 10 primeros lugares.'},
        {nodo: 7404,title: 'Oye la alternativa', link: 'oye-la-alternativa', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_alternativa.png', descripcion:'El espacio donde toda la música se escucha, sin distinción, entrevistas de todos los géneros en un solo lugar.'},
        {nodo: 6806,title: 'Al otro lado de la radio', link: 'al-otro-lado-de-la-radio', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_otro-lado.jpg', descripcion:'Un podcast donde podrás escuchar a tus artistas favoritos y conocer más sobre ellos.'},
        {nodo: 9053,title: 'Memorias con Arturo Forzán', link: 'memorias', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_memorias-min.jpg', descripcion:''},
        {nodo: 9138,title: 'Oye de Cine', link: 'oye-de-cine', imagen:'https://storage.googleapis.com/nrm-web/oye/recursos/podcast/OYE-CINE.jpg', descripcion:''},
    ]; 
    return arrpodcast.map((podcast) => {
      return {
        params: { link: podcast.link, imagen: podcast.imagen },
        props: { podcast, cat:podcast.nodo }
      };
  });
}


interface Props{ 
  podcast:any; 
  cat:string; 
}
//const { nodo, podcast } = Astro.params;
const { link } = Astro.params;
const { podcast } = Astro.props;
const { cat } = Astro.props ;

const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_embed&fields=title,acf&per_page=10&categories=" + cat); 
const posts = await res.json();
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} seccion="Podcast" description={SITE_DESCRIPTION} />
         <meta charset="utf-8"/>
    </head>
    <body>
        <Header title={SITE_TITLE} />
        
        <main>
            <div class="container my-12 mx-auto px-4 md:px-12">
                <div class="flex flex-wrap justify-center ">
                    <div class="w-full md:w-1/3 lg:w-1/4"><img class="content-center aspect-square shadow-xl rounded" src={podcast.imagen}/></div>
                    <div class="w-full md:w-2/3 lg:w:3/4 p-4 flex items-center">
                        <div>
                        <h1 class="font-bold align-middle text-oye tracking-tight">{podcast.title} </h1>
                        <p class="align-middle">{podcast.descripcion}</p>
                        </div> 
                    </div>
                </div>
                <section class="flex flex-wrap -mx-4">
                    {
                        posts.map((post:any) => ( 
                        <>
                            <Card {post} />
                        </>
                        ))
                    }
                </section>
                <div class="text-center mt-20">
                    <a href={`/podcast/${link}/2`}>
                        <button class="button-49 sig" role="button">Siguiente</button>
                    </a>
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
