---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import Layout from '../../layouts/Layoutq.astro';
import Card from '../../layouts/Cardsq.astro';

/*
export function getStaticPaths() {
    
  return [
    {params: {podcast: 'al otro lado de la radio', id: '6806'}},
    {params: {podcast: 'pop trends', id: '6581'}},
    {params: {podcast: 'respira', id: '6734'}},
    {params: {podcast: 'top gaming', id: '3801'}},
    {params: {podcast: 'top tech', id: '3813'}},
    {params: {podcast: 'tu fandom', id: '3788'}},
    {params: {podcast: 'el debraye', id: '3449'}},
  ];
}
*/


export async function getStaticPaths() {
  return [
    {params: {podcast: 'al otro lado de la radio', id: '6806'}},
    {params: {podcast: 'pop trends', id: '6581'}},
    {params: {podcast: 'respira', id: '6734'}},
    {params: {podcast: 'top gaming', id: '3801'}},
    {params: {podcast: 'top tech', id: '3813'}},
    {params: {podcast: 'tu fandom', id: '3788'}},
    {params: {podcast: 'el debraye', id: '3449'}},
  ];  
  
}

const res = await fetch("http://oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=10&categories=6581"); 
    console.log(res);
    const posts = await res.json();

const {post} = Astro.props;

const { id } = Astro.params;
const { podcast } = Astro.params;


---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Podcast" description={SITE_DESCRIPTION} />
		 <meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container my-12 mx-auto">
				<h1 class="p-4 font-bold [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">{podcast}</h1>
                <Layout title="Eventos">
                    <section class="flex flex-wrap -mx-4">
                        {
                            posts.map((post:any) => ( 
                                <>
                                    <Card {post} />
                                </>
                            ))
                        }
                    </section>
                    <div class="text-center mt-20">
                        <a href="/eventos/2">
                        <button class="group relative h-8 w-36 overflow-hidden rounded-lg bg-gray-100 text-base shadow">
                            <div class="absolute inset-0 w-3 bg-pink-600 transition-all duration-[250ms] ease-out group-hover:w-full"></div>
                            <span class="relative text-black group-hover:text-white">Siguiente</span>
                        </button>
                        </a>
                    </div>
                </Layout>
            </div>
		</main>
		<Footer />
	</body>
</html>