---
import { string } from 'astro/zod';
import { seccion } from '../pages/promociones/index.astro';

export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      content: string;
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      }
    };
    
}

const { post } = Astro.props;
var url_seccion;

switch (post.categories[0]){
    case 149:        
        url_seccion = 'pop-news';
    break;
    case 1606:        
        url_seccion = 'promociones';
    break;    
}


/*const section = post.yoast_head_json.schema['@graph'][0].articleSection; 
console.log(section);*/

---

<div class="card w-full">
    <article class="overflow-hidden rounded-lg shadow-lg">
        <a href={`/${url_seccion}/${post.slug}/`}>
            <img class="block h-auto w-full aspect-video" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} />
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
            <h1 class="text-lg">
                <a class="no-underline hover:underline text-black" href={`/${url_seccion}/${post.slug}/`}>
                    {post.title.rendered}
                    
                </a>
            </h1>
        </header>
        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
            <div class="text-grey-darker text-sm">
                <p class="ml-2 text-sm">{post.yoast_head_json.author}</p>
            </div>
            <div class="text-grey-darker text-sm">
                <span class="hidden">Like</span>
                {post.yoast_head_json.article_published_time.substring(0, 10)}
            </div>
        </footer>
    </article>
</div>
<!--div class="card w-full ">
    <a href={`/quickys/${post.slug}/`}>
        <figure class="bg-white">
            <img
                src={post.yoast_head_json.og_image[0].url}
                alt={post.title.rendered}
            />
        </figure>
    </a> 
    <div class="card-body p-4 rounded-b-md">
        <a href={`/quickys/${post.slug}/`}>
            <h5
                class="card-title uppercase min-h-32 transition duration-300 -inset-full h-full block transform -skew-x-12 bg-gradient-to-r from-gray-300 to-white group-hover:animate-shine"
                set:html={post.title.rendered}
            />
        </a>
        <div class="card-actions justify-end relative">
            <span class="text-left">{post.yoast_head_json.article_published_time.substring(0, 10)}</span>
            <span class="absolute right-0">{post.yoast_head_json.author}</span>
        </div>
        <div class="relative">
            <a href={`/promociones/${post.slug}/`}>
                <p class="text-gray-700 italic text-sm text-right"> Ver Más</p>
            </a>
        </div>
    </div>
</div-->