---


export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      content: string;
      slug: string;
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;
      }
    };
}

const { post } = Astro.props;
var title ={post.title.rendered};
title = title.replace(/&#8220;/gi, "");
---

<div class="card w-full md:w-1/2 lg:w-1/3 xl:w-1/3 md:p-4 pb-4 ">
    <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-xl">
        <a href={`/quickys/${post.slug}/`}>
            <img class="block h-auto w-full" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} />
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4 min-h-40">
            <h2 class="text-base">
                <a class="no-underline hover:text-purple-800 font-bold text-black" href={`/quickys/${post.slug}/`}>
                    {post.title.rendered}
                </a>
            </h2>
        </header>
        <footer class="flex items-center justify-between p-2 text-white text-sm bg-purple-800">
            <div>{post.yoast_head_json.author}</div>
            <div>{post.yoast_head_json.article_published_time.substring(0, 10)}</div>
            </div>
        </footer>
    </article>
</div>
<!--div class="card w-full ">
    <a href={`/quickys/${post.slug}/`}>
        <figure class="bg-white">
            <img
                src={post.yoast_head_json.og_image[0].url}
                alt={post.title.rendered}
            />
        </figure>
    </a> 
    <div class="card-body p-4 rounded-b-md">
        <a href={`/quickys/${post.slug}/`}>
            <h5
                class="card-title uppercase min-h-32 transition duration-300 -inset-full h-full block transform -skew-x-12 bg-gradient-to-r from-gray-300 to-white group-hover:animate-shine"
                set:html={post.title.rendered}
            />
        </a>
        <div class="card-actions justify-end relative">
            <span class="text-left">{post.yoast_head_json.article_published_time.substring(0, 10)}</span>
            <span class="absolute right-0">{post.yoast_head_json.author}</span>
        </div>
        <div class="relative">
            <a href={`/promociones/${post.slug}/`}>
                <p class="text-gray-700 italic text-sm text-right"> Ver Más</p>
            </a>
        </div>
    </div>
</div-->