---
export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      content: string;
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      }
    };
    
}

const { post } = Astro.props;

var url_seccion;
//console.log(post.categories[0]);
switch (post.categories[0]){
    case 149:        
        url_seccion = 'popnews';
    break;
    case 1606:        
        url_seccion = 'promociones';
    break;
    case 1207:
        url_seccion = 'eventos';
    break;
    case 156:
        url_seccion = 'entrevistas';
    break;
    default:
        url_seccion = 'popnews';    
    break;      
}


---

<div class="card w-full p-4">
    <div class="overflow-hidden rounded-lg hover:shadow-[0_2px_12px_6px_rgba(78,28,150,0.5)]">
        <a href={`/${url_seccion}/${post.slug}/`}>
            <img class="block h-auto w-full aspect-video object-cover" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} />
        </a>
        <header class="flex items-center justify-between leading-tight ">
            <a class="no-underline" href={`/${url_seccion}/${post.slug}/`}>
                <h2 class="text-base text-purple-900 font-bold hover:text-gray-800" set:html={post.title.rendered}></h2>
            </a>
        </header>
        <footer class="flex items-center justify-between p-2 text-xs font-bold uppercase text-gray-500">            
            <div>{post.yoast_head_json.article_published_time.substring(0, 10)}</div>            
        </footer>
    </div>
</div>
