---
import { Image } from 'astro:assets';

const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_fields=id,title,slug,yoast_head_json.og_image,content,acf&_embed&per_page=10&categories=280");
const posts = await res.json();

posts.sort(function(a, b){ 
    return ((a.acf.posicion > b.acf.posicion) ? 1 : (a.acf.posicion < b.acf.posicion) ? -1 : 0);
});
---
<div class="md:hidden main-carousel-trends">
		{
		posts.map((post:any, index)=> (
			<div class="carousel-cell relative md:hover:scale-[1.01] lg:hover:scale-[1.05] transition-all ease-linear duration-[250ms] el-video" data-video={post.content.rendered} data-video-status="ready">
				<div class="absolute top-1 left-1 text-center align-center z-10">
					<span class="text-5xl text-white font-bold [text-shadow:3px_2px_2px_rgb(0_0_0_/_64%)]" set:html={index+1}></span>
				</div>
				<div class="relative">
					<Image class="block h-auto w-full max-h-24 rounded object-fill aspect-video" src={post.yoast_head_json.og_image[0].url} width="300" height="150" alt="Imagen Ilustrativa Top Ten"  />
					<div class="voto-pop absolute text-center bottom-[-6px] right-0 left-0" data-voto-id={post.id}>
						<button class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-white text-gray-900 rounded-full group bg-oye group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-white"> 
							<span class="relative p-1 transition-all ease-in duration-75 text-white bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0"> 
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
									<path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
								</svg>
							</span> 
						</button>
					</div>
				</div>
					<div class="p-3">
						<div class="overflow-hidden">
							<p class="font-bold leading-none text-sm" set:html={post.title.rendered}></p>
						</div>
					</div>
			</div>
		))
		}
</div>

<div class="hidden md:flex flex-wrap">
		{
		posts.map((post:any, index)=> (
			<div class="md:w-1/4 lg:w-[20%] md:p-4 ">
				<div class="bg-white rounded relative mb-4 md:hover:scale-[1.01] lg:hover:scale-[1.05] transition-all ease-linear duration-[250ms] el-video cursor-pointer" data-video={post.content.rendered} data-video-status="ready">
					<div class="absolute top-1 left-1 text-center align-center z-10">
						<span class="text-5xl text-white font-bold [text-shadow:3px_2px_2px_rgb(0_0_0_/_64%)]" set:html={index+1}></span>
					</div>
					<div class="relative">
						<Image class="block h-auto w-full max-h-24 m-auto rounded object-fill aspect-video" src={post.yoast_head_json.og_image[0].url} width="300" height="150" alt="Imagen Ilustrativa Top Ten"  />
						<div class="voto-pop absolute text-right bottom-[-6px] right-0 left-0" data-voto-id={post.id}>
							<button class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-white text-gray-900 rounded-full group bg-oye group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-white"> 
								<span class="relative p-1 transition-all ease-in duration-75 text-white bg-gray-900 rounded-full group-hover:bg-opacity-0"> 
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
										<path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
									</svg>
								</span> 
							</button>
						</div>
					</div>
					<div class="p-3">
						<div class="overflow-hidden getinfovideo">
							<p class="font-bold leading-none text-sm" set:html={post.title.rendered}></p>
						</div>
					</div>
				</div>


			</div>
		))    
		}
</div>




    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/nrm-web/nrm/lib/toastify.css" />
    <script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/toastify.js"></script>
	
<style>
.flickity-viewport{padding-top: 20px;}
.carousel-cell {
  width: 200px;
  height: 215px;
  margin-right: 40px;
  border-radius: 0.25rem;
  background: white;
}

.carousel-cell img{
	border-radius: 0.25rem;
	box-shadow: 0 2px 12px 7px rgba(0,0,0,0.4);
	/*margin-top: 20px;*/
}

.carousel-cell.is-selected {
  /*background: #ED2;*/
}

p{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	margin-bottom: 0;
	height: 53px;
}
</style>
